.navbar {
    background-color: #114454 !important;
    color: white;
}

#header img {
    width: 44px;
    height: 57px;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
}

#notice img {
    width: 450px;
}

#footer {
    background-color: #114454;
}

#footer a {
    color: white;
}

.icono {
    font-size: 28px;
    color: white;
    padding-right: 8px;
}